.icons-container{
    position: fixed;
    left: 5%;
    top: 35%;
}
.icon{
    margin-top: 0.5rem;
    /* display: inline-block; */
}
.icon-link{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transition: all ease 0.3s;
}
.icon-link:hover{
    color: rgb(9, 122, 9);
}